<footer id='footer'>
	<div id='footer-main'>
		<div class='container'>
			<div class='row'>
				<div class='col-md-6 col-sm-6 info-box'>
					<h2 class='title'>About us</h2>
					<p class='no-mg-b'>Wired’s first violinist and manager is Anouk Smit, a chamber music specialist who has performed all over the world. She followed her violin performance diploma from the University of Stellenbosch with postgraduate violin performance degrees from UCT and the Royal Northern College of Music in England.</p>
				</div>
				<div class='col-md-6 col-sm-6 info-box'>
					<h2 class='title'>Contact</h2>
					<div class='icon-boxes'>
						<div class='icon-box'>
							<div class='icon icon-wrap'>
								<i class='fa fa-phone'></i>
							</div>
							<div class='content'>
								Tel: <a href='tel:+27217892297'>+27 (0)21 789 2297</a>
							</div>
						</div>
						<div class='icon-box'>
							<div class='icon icon-wrap'>
								<i class='fa fa-phone'></i>
							</div>
							<div class='content'>
								Mobile: <a href='tel:+27824809397'>+27 (0)82 480 9397</a>
							</div>
						</div>
						<div class='icon-box'>
							<div class='icon icon-wrap'>
								<i class='fa fa-envelope'></i>
							</div>
							<div class='content'><a href="mailto:anouk@wiredstrings.co.za">anouk@wiredstrings.co.za</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id='footer-copyright'>
			<div class='container'>
				<div class='row'>
					<div class='col-lg-12 clearfix'>
						<p class='copyright'>
							Copyright
							&copy;
						2011 Wired Strings. All rights reserved.
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>