<footer id='footer'>
	<div id='footer-main'>
		<div class='container'>
			<div class='row'>
				<div class='hidden-xs col-md-2 col-sm-2 info-box'>
					<img src="images/wired_string_profile.jpg" style='width: 90%;'>
				</div>
				<div class='col-md-6 col-sm-6 info-box about-us-footer'>
					<h2 class='title'>About us</h2>
					<p class='no-mg-b'>Over the past fifteen years Wired String Quartet have carved out a niche for themselves as sought-after performers of live music at weddings, functions and special events in the Western Cape. Their success has been driven by the quality of their performances, the range of musical styles, the repertoire they have at their fingertips and their special energy.</p>
				</div>
				<div class='col-sx-6 col-md-4 col-sm-4 info-box'>
					<h2 class='title'>Contact</h2>
					<div class='icon-boxes'>
						<div class='icon-box'>
							<div class='icon icon-wrap'>
								<i class='fa fa-phone'></i>
							</div>
							<div class='content'>
								Tel: <a href='tel:+27217892297'>+27 (0)21 789 2297</a>
							</div>
						</div>
						<div class='icon-box'>
							<div class='icon icon-wrap'>
								<i class='fa fa-phone'></i>
							</div>
							<div class='content'>
								Mobile: <a href='tel:+27824809397'>+27 (0)82 480 9397</a>
							</div>
						</div>
						<div class='icon-box'>
							<div class='icon icon-wrap'>
								<i class='fa fa-envelope'></i>
							</div>
							<div class='content'><a href="mailto:anouk@wiredstrings.co.za">anouk@wiredstrings.co.za</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id='footer-copyright'>
			<div class='container'>
				<div class='row'>
					<div class='col-lg-12 clearfix'>
						<p class='copyright'>
							Copyright
							&copy;
						2011 Wired Strings. All rights reserved.
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>