<!DOCTYPE html>
<!--[if lt IE 9]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if !IE] -->
<html lang='en'>
	<head>
		<title><%- title %></title>
		<% include partials/meta %>
		<% include partials/fav_icon %>
		<% include partials/ie_shiv_fix %>
		<% include partials/css %>
	</head>
	<body>
		<%- content %>
	</body>
</html>