<!DOCTYPE html>
<!--[if lt IE 9]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if !IE] -->
<html lang='en'>
	<head>
		<title><%- title %></title>
		<% include partials/meta %>
		<% include partials/fav_icon %>
		<% include partials/ie_shiv_fix %>
		<% include partials/css %>
		<%- specific_css %>
	</head>
	<body class='homepage fullsize'>
		<div id='wrapper'>
			<header id='header'>
				<div class='container'>
					<% include partials/nav %>
				</div>
			</header>
		</div>
		<%- content %>
		<% include partials/footer %>
		<% include partials/javascript %>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#datepicker").datepicker();
			});
		</script>
	</body>
</html>