<!DOCTYPE html>
<!--[if lt IE 9]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if !IE] -->
<html lang='en'>
	<head>
		<title><%- title %></title>
		<meta name="google-site-verification" content="CkKk3nzvI2b6yNjEUaJ_un1ksXQVC8eoOAO1KPfJOcc" />
		<meta name="description" content="Our fresh hip take on string quartet performance keeps Wired in demand. Since our launch in 2002, our hectic and varied schedule has taken us to all the most beautiful locations and venues in the Western Cape.">
		<meta name="keywords" content="classical musicians, wedding string quartet, cape town, wedding quartet, cape town wedding music, wedding ceremony music, cape town string quartets, book live music, hire musicians south africa, hire musicians sa, string duet, tring duo, string trio, corporate entertainment, cape town musicians, wedding ceremony music, hire musicians, live entertainment, live string quartet, wedding music, cape town string quartet, function music, function quartet, western cape wedding quartet, western cape wedding music, background music, cool wedding music, light classics, corporate function music, wine lands music, cape weddings, wine lands weddings, light classical music, reception music, violinists">
		<% include partials/meta %>
		<% include partials/fav_icon %>
		<% include partials/ie_shiv_fix %>
		<% include partials/css %>
		<%- specific_css %>
	</head>
	<body class='homepage fullsize'>
		<div id='wrapper'>
			<header id='header'>
				<div class='container'>
					<% include partials/nav %>
				</div>
			</header>
		</div>
		<%- content %>
		<% include partials/footer %>
		<% include partials/javascript %>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-16562308-1', 'auto');
			ga('send', 'pageview');

		</script>

		<!-- YouTube analytics tracker -->
		<script src="//cdn.jsdelivr.net/youtube-google-analytics/8.0.2/lunametrics-youtube.gtm.min.js"></script>

		<script type="text/javascript">
			$(document).ready(function() {
				$("#datepicker").datepicker();
			});
		</script>
	</body>
</html>
