<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="stylesheets/bootstrap/bootstrap.min.css" media="all" id="bootstrap" rel="stylesheet" type="text/css" />
	<link href="stylesheets/base.css" media="all" id="colors" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/wired.css" media="all" id="colors" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/textOnly.css" media="all" id="colors" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Upload a photo to your account below.</h3>
    <form method='post' enctype='multipart/form-data'>
      <p><input type='file', name='txtAndImagesBackgroundImage'/></p>
      <p><input type='submit', value='Upload'/></p>
    </form>
  </body>
</html>