<div id='main' role='main'>
	<div class='hero-carousel carousel-contrast carousel-contrast-arrows carousel-contrast-pagination flexslider' id='carousel-example-2'>
		<ul class='slides'>
			<li class='item sea'>
				<div class='container'>
					<div class='row'>
						<div class='col-md-7 animate twoLine'>
							<p class='normal fadeInRightBig animated'>
								<span class="heading-text">
									Our fresh take on string quartet performance </br>
										keeps Wired in demand...	
								</span>
							</p>
							<p class='fadeInRightBig animated'>
								<a class='btn btn-squared btn-contrast btn-lg' href='/text_and_images/uploadImage'>
									Listen
								</a>
							</p>
						</div>
						<div class='col-md-5 animate pos-sta hidden-xs hidden-sm' id='image1'>
							<a href="http://www.wahasa.co.za/" target="_blank">
								<img class="img-responsive fadeInUp" alt="iPhone" width="600" src="images/wired_01.png" />
							</a>
						</div>
					</div>
				</div>
			</li>
			<li class='item forest'>
				<div class='container'>
					<div class='row'>
						<div class='col-md-7 animate threeLine'>
							<p class='normal fadeInUp animated'>
								<span class="heading-text">
									Live music by Wired creates a hip, sophisticated </br>
									atmosphere that will make your event both </br>
									personal and memorable... 
								</span>
							</p>
							<p class='fadeInRight animated'>
								<a class='btn btn-squared btn-contrast btn-lg' href='/text_and_images/uploadImage'>Book Now</a>
							</p>
						</div>
						<div class='col-md-5 animate pos-sta hidden-xs hidden-sm threeLine'>
							<iframe class="fadeInUp" width="450" height="258" src="https://www.youtube.com/embed/3AyFA-7imSQ" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</li>
			<li class='item bokeh'>
				<div class='container'>
					<div class='row'>
						<div class='col-md-7 animate twoLine'>
							<p class='normal fadeInLeftBig animated'>
								<span class="heading-text">
									Wired sets the atmosphere with beautiful, </br>
									uplifting classical music.
								</span>
							</p>
							<p class='fadeInUpBig animated'>
								<a class='btn btn-squared btn-contrast btn-lg' href='/text_and_images/uploadImage'>
									Packages
								</a>
							</p>
						</div>
						<div class='col-md-5 animate pos-sta hidden-xs hidden-sm' id='image2'>
							<a href="http://www.wahasa.co.za/" target="_blank">
								<img class="img-responsive fadeInUp" alt="iPhone" width="307" height="400" src="images/wired_04.png" />
							</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div id='main-content'>
		<div class='container'>
			<div class='row'>
				<div class='col-sm-12'>
					<p class='lead lead-lg text-center'>Our fresh hip take on string quartet performance keeps Wired in demand. Since our launch in 2002, our hectic and varied schedule has taken us to all the most beautiful locations and venues in the Western Cape.</p>
					<p class='lead lead-lg text-center'>We perform year round at a wide range of functions, and our schedule gets especially busy during the wedding season. We also perform for music societies and music festivals, and recently Wired has recorded a TV movie soundtrack and appeared in a commercial for Wall’s ice cream. We’ve also produced our own CD.</p>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-12'>
					<div class='page-header page-header-with-icon'>
						<i class='fa fa-music'></i>
						<h2>Wired Strings<small>specializes in making your event unforgetable</small></h2>
					</div>
					<div class='row portfolio-boxes'>
						<div class='col-sm-3 col-xs-6 no-mb-t-xs portfolio-box'>
							<a href='#'>
								<div class='image-link'>
									<i class='fa fa-search'></i>
									<img class="img-responsive img-rounded center-block" alt="Weddings" width="262" height="262" src="images/wedding.jpg" />
								</div>
								<h3 class='title'>Weddings</h3>
							</a>
						</div>
						<div class='col-sm-3 col-xs-6 portfolio-box'>
							<a href='#'>
								<div class="image-link">
									<i class='fa fa-search'></i>
									<img class="img-responsive img-rounded center-block" alt="Corporate" width="262" height="262" src="images/corporate.jpg" />
								</div>
								<h3 class='title'>Corporate functions</h3>
							</a>
						</div>
						<div class='col-sm-3 col-xs-6 portfolio-box'>
							<a href='#'>
								<div class='image-link'>
									<i class='fa fa-search'></i>
									<img class="img-responsive img-rounded center-block" alt="Private Party" width="262" height="262" src="images/party.jpeg" />
								</div>
								<h3 class='title'>Private parties</h3>
								<!--<p class='category'>Identity</p>-->
							</a>
						</div>
						<div class='col-sm-3 col-xs-6 portfolio-box'>
							<a href='#'>
								<div class='image-link'>
									<i class='fa fa-search'></i>
									<img class="img-responsive img-rounded center-block" alt="Pure Performance" width="262" height="262" src="images/concert.jpg" />
								</div>
								<h3 class='title'>Pure Performance</h3>
							<!--<p class='category'>Marketing</p>-->
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-12'>
					<div class='page-header page-header-with-icon'>
						<i class='fa fa-quote-right'></i>
						<h2>Testimonials</h2>
					</div>
					<div class='row quotes'>
						<div class='carousel carousel-default slide carousel-auto' id='carousel-testimonials'>
							<div class='carousel-inner'>
								<div class='item active quote'>
									<div class='col-sm-12 text-center'>
										<p class='lead'>Thank you so much for your superb performance last night. I have had wonderful comments about your quartet, and I am pleased that you and your team contributed so greatly towards the success of my event. I look forward to the next time we can make use of your wonderful talent again.</p>
										<div class='author-wrapper'>
											<p class='author'>
												<strong>Tanya March</strong>,
												BMW X5 launch, Tygervalley
											</p>
										</div>
									</div>
								</div>
								<div class='item quote'>
									<div class='col-sm-12 text-center'>
										<p class='lead'>We are so grateful to you for the magnificent music you provided at our wedding. We really enjoyed it.</p>
										<div class='author-wrapper'>
											<p class='author'>
												<strong>David and Claudine Griffiths</strong>,
												Wedding, Mount Nelson Hotel
											</p>
										</div>
									</div>
								</div>
								<div class='item quote'>
									<div class='col-sm-12 text-center'>
										<p class='lead'>I wanted to say thank you for your beautiful playing and special arrangements of La Vie en Rose and True Romance.  It was a real joy and very special to walk down the aisle to La Vie en Rose – that moment is one of my highlights of the wedding, and also to have the happy sounds of True Romance at the end was great.</p>
										<div class='author-wrapper'>
											<p class='author'>
												<strong>Kate Weinberg</strong>,
												18/03/2014
											</p>
										</div>
									</div>
								</div>
								<div class='item quote'>
									<div class='col-sm-12 text-center'>
										<p class='lead'>We wanted to send you an e-mail to say a very special thank-you for playing so wonderfully at our wedding on the 10th of March. Our family adored your performances and other guest feedbak has been outstanding for you. I heard that the cheering, clapping and standing ovations were a plenty for you. So much so that some of our guests said they  forgot they were at a wedding and were swept away to a grand musical soiree!</p>
										<div class='author-wrapper'>
											<p class='author'>
												<strong>Deborah Dragone</strong>,
												1/04/2013
											</p>
										</div>
									</div>
								</div>
								<div class='item quote'>
									<div class='col-sm-12 text-center'>
										<p class='lead'>Thank you so much for providing the live music for our centenary tea party. It was lovely to have live music to create the kind of atmosphere we were looking for. You were all so professional and we know that the music was enjoyed by all. So thank you from all of us at the Botanical Society.</p>
										<div class='author-wrapper'>
											<p class='author'>
												<strong>Botanical Society of SA</strong>,
												Kirstenbosch Branch Centenary Celebrations
											</p>
										</div>
									</div>
								</div>
								<div class='item quote'>
									<div class='col-sm-12 text-center'>
										<p class='lead'>Anouk - thank you so much for yesterday, the music at the ceremony was everything I had dreamed of and more.</p>
										<div class='author-wrapper'>
											<p class='author'>
												<strong>Abi Cochrane</strong>,
												22/12/2011
											</p>
										</div>
									</div>
								</div>
								<div class='item quote'>
									<div class='col-sm-12 text-center'>
										<p class='lead'>A belated but very sincere thanks to you and the string quartet members for the beautiful music you played at our wedding ceremony at Dieu Donne’. It played in a big part in creating the ambience for a fairy tale wedding. Please feel free to use as a reference, should you have any other overseas customers nervous of making arrangements over the internet. Many thanks, once again for the great service you provided.</p>
										<div class='author-wrapper'>
											<p class='author'>
												<strong>Nicola Adams</strong>,
												5/03/2012
											</p>
										</div>
									</div>
								</div>
								<div class='item quote'>
									<div class='col-sm-12 text-center'>
										<p class='lead'>A warm thank-you for being a part of our special day! Yes, there were some surprises, mainly to do with the ‘’informal’’ approach we chatted about on the phone haha! (Like the chairs for your 2 nd phase acquiring legs etc...) But it wouldn’t have been the same for me without your special touch...</p>
										<div class='author-wrapper'>
											<p class='author'>
												<strong>Penny Judd</strong>,
												12/11/2013
											</p>
										</div>
									</div>
								</div>
							</div>
							<ol class='carousel-indicators'>
								<li class='active' data-slide-to='0' data-target='#carousel-testimonials'></li>
								<li data-slide-to='1' data-target='#carousel-testimonials'></li>
								<li data-slide-to='2' data-target='#carousel-testimonials'></li>
								<li data-slide-to='3' data-target='#carousel-testimonials'></li>
								<li data-slide-to='3' data-target='#carousel-testimonials'></li>
								<li data-slide-to='3' data-target='#carousel-testimonials'></li>
								<li data-slide-to='3' data-target='#carousel-testimonials'></li>
								<li data-slide-to='3' data-target='#carousel-testimonials'></li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>