#main-header {
	background-image: url(../images/header/contact_banner.jpg);
	background-size: cover;
	background-position-y: -56px;
}

ul {
	list-style-type: none;
}

li {
	    margin-bottom: 40px;
}

.contact-list {
	
}

.contact-list .fa {
	background: rgb(95, 192, 206);
	width: 40px;
    line-height: 40px;
    font-size: 18px;
    border-radius: 50%;
    text-align: center;
    float: left;
}

.contact-info {
	width: 100%;
    height: auto;
    display: table-cell;
    padding-left: 10px;
    vertical-align: middle;
}