#main-header {
	background-image: url(../images/header/contact_banner.jpg);
	background-size: cover;
	background-position-y: -56px;
}

ul {
	list-style-type: none;
}

li {
	    margin-bottom: 40px;
}

.contact-list {
	
}