.hero-carousel {
	background-image: url("../images/header/txtAndImagesBackgroundImage.jpeg");
}

.twoLine {
	margin-top: 60px;
}

.threeLine {
	margin-top: 50px;
}

#image1 {
	margin-top: 25px;
}

#image2 {
	margin-top: -62px;
}