</!DOCTYPE html>
<html>
<head>
	<title>Wired Image Swap</title>
	<link href="stylesheets/bootstrap/bootstrap.min.css" media="all" id="bootstrap" rel="stylesheet" type="text/css" />
	<link href="stylesheets/base.css" media="all" id="colors" rel="stylesheet" type="text/css" />
	<link href="stylesheets/wired.css" media="all" id="colors" rel="stylesheet" type="text/css" />
	<link href="stylesheets/textOnly.css" media="all" id="colors" rel="stylesheet" type="text/css" />
</head>
<body>
	<h1 style="text-align: center;">Wired String Quartet :: Home page options!</h1>
	<div class="row">
		<div class="col-sm-6">
			<a class="btn btn-squared btn-contrast btn-lg" href="/text_only" style="float:right;">Text only home page</a>
		</div>
		<div class="col-sm-6">
			<a class="btn btn-squared btn-contrast btn-lg" href="/text_and_images">Text and images home page</a>
		</div>
	</div>
</body>
</html>