<div id='main-content'>
	<div class="main-header" id="main-header" style="background-image: url(../images/header/wedding.jpeg);position:relative;">
		<div class="row">
			<div class="page-header-text">
				BOOK</br>
				<small class="bread-crumb">
					<a href="/">Home</a> / Book</small>
			</div>
		</div>
	</div>
	<div class='container'>
		<div class='row'>
			<div class='col-sm-12'>
				<div class='page-header page-header-with-icon'>
					<i class='fa fa-envelope-o'></i>
					<h2>
						REQUEST BOOKING
					</h2>
					<p>Booking Wired String Quartet is as easy as 1, 2, 3. We will respond to your booking request within 48hrs confirming our availability and answers to any questions you may have.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4">
				<ul class="contact-left">
					<li>
						<div class="contact-list wow fadeInLeft">
							<i class="fa fa-map-marker"></i>
							<div class="contact-info">
								<p>PO Box 401<br/> Noordhoek<br/> 7979</p>
							</div>
						</div>
					</li>
					<li>
						<div class="contact-list wow fadeInLeft">
							<i class="fa fa-phone"></i>
							<div class="contact-info">
								<p>Phone:<a href="tel:+27 (0)21 789 2297">+27 (0)21 789 2297</a><br> Mobile: <a href="tel:+27 (0)82 480 9397">+27 (0)82 480 9397</a></p>
							</div>
						</div>
					</li>
					<li>
						<div class="contact-list wow fadeInLeft">
							<i class="fa fa-envelope"></i>
							<div class="contact-info">
								<p id="contact-info-email">Email: <a href="mailto:anouk@wiredstrings.co.za">anouk@wiredstrings.co.za</a></p>
							</div>
						</div>
					</li>
					<!--<li>
						<div class="contact-list wow fadeInLeft">
							<i class="fa fa-clock-o"></i>
							<div class="contact-info">
								<p>Monday-Friday: 9am - 5pm <br> Saturday: 10am - 2pm</p>
							</div>
						</div>
					</li>-->
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-8">
				<form class='form form-validation form-book' method='post'>
					<div class='row'>
						<div class='col-sm-12'>
							<div class='alert alert-success form-book-success hidden'>Thanks! Your message has been successfully sent!</div>
							<div class='alert alert-danger form-book-error hidden'>Ooops! There was an error sending your message.</div>
						</div>
					</div>
					<div class='row'>
						<div class='col-sm-6'>
							<div class='form-group control-group'>
								<!--<input class='form-control' data-rule-required='true' name='firstName' placeholder='First Name' type='text'>-->
								<input class='form-control' name='firstName' placeholder='First Name' type='text'>
							</div>
						</div>
						<div class='col-sm-6'>
							<div class='form-group control-group'>
								<input class='form-control' name='lastName' placeholder='Last Name' type='text'>
							</div>
						</div>
					</div>
					<div class="row">
						<div class='col-sm-12'>
							<div class='form-group control-group'>
								<!--<input class='form-control' data-rule-email='true' data-rule-required='true' name='email' placeholder='E-Mail' type='email'>-->
								<input class='form-control' name='email' placeholder='E-Mail' type='email'>
							</div>
						</div>
					</div>
					<div class="row">
						<div class='col-sm-6'>
							<div class='form-group control-group'>
								<div class="input-group">
									<input class='form-control' id='datepicker' name='date' placeholder='Date' type='text'>
									<div class="input-group-addon">
        								<span class="fa fa-calendar"></span>
									</div>
								</div>
							</div>
						</div>
						<div class='col-sm-6'>
							<div class='form-group control-group'>
								<div class="input-group bootstrap-timepicker">
									<input class='form-control timepicker' name='time' placeholder='Time' type='text'>
									<div class="input-group-addon">
        								<span class="fa fa-clock-o"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class='row'>
						<div class='col-sm-12'>
							<div class='form-group control-group'>
								<select class="form-control" id="sel1" placeholder='Time'>
									<option value='none' style='color: #eaedf2'>-- Select Package --</option>
									<option value='none'>1.5 hours</option>
									<option value='none'>2 hours</option>
									<option value='none'>3 hours</option>
									<option value='none'>Custom</option>
								</select>
							</div>
						</div>
					</div>
					<div class='row'>
						<div class='col-sm-12'>
							<div class='form-group control-group'>
								<textarea class='form-control' name='message' rows='10' placeholder='Your message...'></textarea>
							</div>
						</div>
					</div>
					<div class='row'>
						<div class='col-sm-12'>
							<button class='btn btn-contrast btn-block form-book-submit' data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Sending..." type='submit'>
								Send message
							</button>
						</div>
					</div>
				</form>	
			</div>
		</div>
		<!--<div class='panels-wrapper'>
			<div class='row panels'>
				<div class='col-sm-4 panel-item'>
					<a class='panel panel-image' href='#'>
						<div class='panel-icon'>-->
							<!--<i class='fa fa-clock-o icon'></i>-->
							<!--<span class="fa-stack fa-3x">
								<i class="fa fa-circle fa-stack-2x"></i>
								<strong class="fa-stack-1x icon">1</strong>
							</span>
						</div>
						<div class='panel-heading'>
							<h1 class='step-header'>Enquire</h1>-->
						  	<!--<img class="img-responsive-sm" alt="Project planning" width="768" height="300" src="http://placehold.it/768x300" />-->
						<!--</div>
						<div class='panel-body'>
						  	<p>Complete the form below, confirming the date, time and package you'd like to book. Also take this opportunity to speficy any personal requests.</p>
						</div>
                  	</a>
				</div>
				<div class='col-sm-4 panel-item'>
					<a class='panel panel-image' href='#'>
						<div class='panel-icon'>-->
							<!--<i class='fa fa-cog icon'></i>-->
							<!--<span class="fa-stack fa-3x">
								<i class="fa fa-circle fa-stack-2x"></i>
								<strong class="fa-stack-1x icon">2</strong>
							</span>
						</div>
						<div class='panel-heading'>
							<h1 class='step-header'>Confirm</h1>
						</div>
						<div class='panel-body'>
							<p>Complete the form below, confirming the date, time and package you'd like to book. Also take this opportunity to speficy any personal requests.</p>
						</div>
					</a>
				</div>
				<div class='col-sm-4 panel-item'>
					<a class='panel panel-image' href='#'>
						<div class='panel-icon'>-->
							<!--<i class='fa fa-rocket icon'></i>-->
							<!--<span class="fa-stack fa-3x">
								<i class="fa fa-circle fa-stack-2x"></i>
								<strong class="fa-stack-1x icon">3</strong>
							</span>
						</div>
						<div class='panel-heading'>
					  		<h1 class='step-header'>Deposit</h1>
						</div>
						<div class='panel-body'>
						  	<p>Complete the form below, confirming the date, time and package you'd like to book. Also take this opportunity to speficy any personal requests.</p>
						</div>
				  	</a>
				</div>
			</div>
		</div>-->
		<!--<div class='row'>
			<div class='col-sm-12'>
				<div class='page-header page-header-with-icon'>
					<i class='fa fa-envelope'></i>
					<h2>Enquire</h2>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2'>
				<form class='form form-validation form-contact' method='post'>
					<div class='row'>
						<div class='col-sm-12'>
							<div class='alert alert-success form-contact-success hidden'>Thanks! Your message has been successfully sent!</div>
							<div class='alert alert-danger form-contact-error hidden'>Ooops! There was an error sending your message.</div>
						</div>
					</div>
					<div class='row'>
						<div class='col-sm-6'>
							<div class='form-group control-group'>
								<input class='form-control' data-rule-required='true' name='name' placeholder='Name' type='text'>-->
								<!-- / this field is required for simple anti spam function, don't remove it! -->
								<!--<input class='form-control' name='human' placeholder='Are you human?' style='display: none;' type='text'>
							</div>
						</div>
						<div class='col-sm-6'>
							<div class='form-group control-group'>
								<input class='form-control' data-rule-email='true' data-rule-required='true' name='email' placeholder='E-Mail' type='email'>
							</div>
						</div>
					</div>
					<div class='row'>
						<div class='col-sm-12'>
							<div class='form-group control-group'>
								<textarea class='form-control' data-rule-required='true' name='message' placeholder='Your message...' rows='10'></textarea>
							</div>
						</div>
					</div>
					<div class='row'>
						<div class='col-sm-12'>
							<button class='btn btn-contrast btn-block form-contact-submit' data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Sending..." type='submit'>
								Send message
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>-->
	</div>
</div>