<div id='main' role='main'>
	<div id='main-content'>
		<div class="main-header" id="main-header">
			<div class="row">
				<div class="page-header-text">
					CONTACT US</br>
					<small class="bread-crumb">
						<a href="/">Home</a> / Contact Us</small>
				</div>
			</div>
		</div>
		<div class='container'>
			<div class='row'>
				<div class='col-sm-12'>
					<div class='page-header page-header-with-icon'>
						<i class='fa fa-info-circle'></i>
						<h2>
							GET IN TOUCH
						</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-4">
					<ul class="contact-left">
						<li>
							<div class="contact-list wow fadeInLeft">
								<i class="fa fa-map-marker"></i>
								<div class="contact-info">
									<p>PO Box 427<br/> Noordhoek<br/> 7979</p>
								</div>
							</div>
						</li>
						<li>
							<div class="contact-list wow fadeInLeft">
								<i class="fa fa-phone"></i>
								<div class="contact-info">
									<p>Phone:<a href="tel:+27 (0)21 789 2297">+27 (0)21 789 2297</a><br> Mobile: <a href="tel:+27 (0)82 480 9397">+27 (0)82 480 9397</a></p>
								</div>
							</div>
						</li>
						<li>
							<div class="contact-list wow fadeInLeft">
								<i class="fa fa-envelope"></i>
								<div class="contact-info">
									<p id="contact-info-email">Email: <a href="mailto:anouk@wiredstrings.co.za">anouk@wiredstrings.co.za</a></p>
								</div>
							</div>
						</li>
						<li>
							<div class="contact-list wow fadeInLeft">
								<i class="fa fa-clock-o"></i>
								<div class="contact-info">
									<p>Monday-Friday: 9am - 5pm <br> Saturday: 10am - 2pm</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-8">
					<form class='form form-validation form-contact' method='post'>
						<div class='row'>
							<div class='col-sm-12'>
								<div class='alert alert-success form-contact-success hidden'>Thanks! Your message has been successfully sent!</div>
								<div class='alert alert-danger form-contact-error hidden'>Ooops! There was an error sending your message.</div>
							</div>
						</div>
						<div class='row'>
							<div class='col-sm-6'>
								<div class='form-group control-group'>
									<input class='form-control' data-rule-required='true' name='firstName' placeholder='First Nmae' type='text'>
									<!-- / this field is required for simple anti spam function, don't remove it! -->
									<input class='form-control' name='human' placeholder='Are you human?' style='display: none;' type='text'>
								</div>
							</div>
							<div class='col-sm-6'>
								<div class='form-group control-group'>
									<input class='form-control' data-rule-required='true' name='lastNmae' placeholder='Last Name' type='text'>
									<!-- / this field is required for simple anti spam function, don't remove it! -->
									<input class='form-control' name='human' placeholder='Are you human?' style='display: none;' type='text'>
								</div>
							</div>
						</div>
						<div class="row">
							<div class='col-sm-12'>
								<div class='form-group control-group'>
									<input class='form-control' data-rule-email='true' data-rule-required='true' name='email' placeholder='E-Mail' type='email'>
								</div>
							</div>
						</div>
						<div class='row'>
							<div class='col-sm-12'>
								<div class='form-group control-group'>
									<textarea class='form-control' data-rule-required='true' name='message' rows='10' placeholder='Your message...'></textarea>
								</div>
							</div>
						</div>
						<div class='row'>
							<div class='col-sm-12'>
								<button class='btn btn-contrast btn-block form-contact-submit' data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Sending..." type='submit'>
									Send message
								</button>
							</div>
						</div>
					</form>	
				</div>
					<!--<div class='row text-center'>
						<div class='col-sm-4'>
							<div class='icon-wrap icon-circle contrast-bg icon-md'>
								<i class='fa fa-map-marker text-white'></i>
							</div>
							<h3>Address</h3>
							<ul class='list-unstyled'>
								<li>PO Box 401</li>
								<li>Noordhoek, 7979</li>
								<li>Cape Town</li>
								<li>South Africa</li>
							</ul>
						</div>
						<div class='col-sm-4'>
							<div class='icon-wrap icon-circle contrast-bg icon-md'>
								<i class='fa fa-envelope-o text-white'></i>
							</div>
							<h3>E-Mail</h3>
							<ul class='list-unstyled'>
								<li><a href="mailto:anouk@wiredstrings.co.za">anouk@wiredstrings.co.za</a></li>
							</ul>
						</div>
						<div class='col-sm-4'>
							<div class='icon-wrap icon-circle contrast-bg icon-md'>
								<i class='fa fa-phone text-white'></i>
							</div>
							<h3>Telephone</h3>
							<ul class='list-unstyled'>
								<li>Tel: <a href="tel:+27217892297">+27 (0)21 789 2297</a></li>
								<li>Mobile: <a href="tel:+27824809397">+27 (0)82 480 9397</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>-->
		</div>
	</div>
	<div class='fade' id='scroll-to-top'>
		<i class='fa fa-chevron-up'></i>
	</div>
</div>