<div id='main' role='main'>
	<div id='main-content'>
		<div class="main-header" id="main-header" style="background-image: url(../images/header/wedding.jpeg);position:relative;">
			<div class="row">
				<div class="page-header-text">
					FAQ</br>
					<small class="bread-crumb">
						<a href="/">Home</a> / Faq
					</small>
				</div>
			</div>
		</div>
		<div class='container'>
			<!--<div class='row'>
				<div class='col-sm-12'>
					<div class='page-header page-header-with-icon'>
						<i class='fa fa-question-circle'></i>
						<h2>
							FREQUENTLY ASKED QUESTIONS
						</h2>
					</div>
				</div>
			</div>-->
			<div class='row'>
				<div class='col-sm-6'>
					<div class='page-header page-header-with-icon'>
						<i class='fa fa-question-circle'></i>
						<h2>
							FREQUENTLY ASKED QUESTIONS
						</h2>
					</div>
					<div class='panel-group accordion accordion-bordered' id='accordion'>
						<div class='panel panel-default'>
							<div class='panel-heading'>
								<h4 class='panel-title'>
									<a class='accordion-toggle collapsed' data-toggle='collapse' href='#accordion-item-1'>
										What instruments do the quartet play?
									</a>
								</h4>
							</div>
							<div class='panel-collapse collapse' id='accordion-item-1'>
								<div class='panel-body'>
									Our quartet is a foursome made up of two violinists, a viola player and a cellist. These are all acoustic instruments that provide enough volume for functions of up to about 100 people. For larger functions we may need amplification to be heard. We can arrange for a sound engineer to assist or we can work with your sound team at the event.
								</div>
							</div>
						</div>
						<div class='panel panel-default'>
							<div class='panel-heading'>
								<h4 class='panel-title'>
									<a class='accordion-toggle collapsed' data-toggle='collapse' href='#accordion-item-2'>
										Can Wired play outdoors?
									</a>
								</h4>
							</div>
							<div class='panel-collapse collapse' id='accordion-item-2'>
								<div class='panel-body'>
									Absolutely. Wired is equally versatile playing indoors or outdoors, provided there is protection from direct sun or rain.
								</div>
							</div>
						</div>
						<div class='panel panel-default'>
							<div class='panel-heading'>
								<h4 class='panel-title'>
									<a class='accordion-toggle collapsed' data-toggle='collapse' href='#accordion-item-3'>
										Do Wired perform musical requests?
									</a>
								</h4>
							</div>
							<div class='panel-collapse collapse' id='accordion-item-3'>
								<div class='panel-body'>
									Wired will always try to accommodate any special musical requests. We are happy to work with you to find what will best suit your event.
								</div>
							</div>
						</div>
						<div class='panel panel-default'>
							<div class='panel-heading'>
								<h4 class='panel-title'>
									<a class='accordion-toggle collapsed' data-toggle='collapse' href='#accordion-item-4'>
										How long are the sets?
									</a>
								</h4>
							</div>
							<div class='panel-collapse collapse' id='accordion-item-4'>
								<div class='panel-body'>
									We perform in 50-minute sets with a 10-minute break. These breaks can be arranged to coincide with speeches or other periods during your function when music is not required.
								</div>
							</div>
						</div>
						<div class='panel panel-default'>
							<div class='panel-heading'>
								<h4 class='panel-title'>
									<a class='accordion-toggle collapsed' data-toggle='collapse' href='#accordion-item-5'>
										What do we need to provide and how much space does your quartet take up?
									</a>
								</h4>
							</div>
							<div class='panel-collapse collapse' id='accordion-item-5'>
								<div class='panel-body'>
									The quartet takes up a space of about 3m x 3m, and requires four armless chairs.
								</div>
							</div>
						</div>
						<div class='panel panel-default'>
							<div class='panel-heading'>
								<h4 class='panel-title'>
									<a class='accordion-toggle collapsed' data-toggle='collapse' href='#accordion-item-6'>
										How can I book Wired?
									</a>
								</h4>
							</div>
							<div class='panel-collapse collapse' id='accordion-item-6'>
								<div class='panel-body'>
									Call or send us an email with your information. Please specify the date, type of event, venue, times and package. We will check our availability and send you a booking form. We request a deposit of 50% to confirm the booking. The balance of 50% is to be paid in the week before the event or on the day of the event.
								</div>
							</div>
						</div>
						<div class='panel panel-default'>
							<div class='panel-heading'>
								<h4 class='panel-title'>
									<a class='accordion-toggle collapsed' data-toggle='collapse' href='#accordion-item-7'>
										What is the cancellation policy?
									</a>
								</h4>
							</div>
							<div class='panel-collapse collapse' id='accordion-item-7'>
								<div class='panel-body'>
									<ul>
										<li>In the event of cancellation by the client, more than 30 days prior to the event/wedding, Wired will be paid a cancellation fee of 50% of performance fee; in the event of cancellation less than 30 days prior to the event/wedding, Wired will be paid the full performance fee as cancellation, provided cancellation was not the result of reasonable force majeure or insolvency on the behalf of the client.</li>
										<li>In the event of cancellation by Wired at any time prior to the event/wedding, Wired will provide the client with a detailed explanation and statement in the form of a sworn affidavit, and refund all monies paid within 48 hours.</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!--</div>
			<div class='row'>-->
				<!--<div class='col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2'>-->
				<div class='col-md-6 col-sm-6'>
					<div class='page-header page-header-with-icon'>
						<i class='fa fa-question-circle'></i>
						<h2>Can't find the answer?</h2>
					</div>
					<form class='form form-validation form-faq' method='post'>
						<div class='row'>
							<div class='col-sm-12'>
								<div class='alert alert-success form-faq-success hidden'>Thanks! Your message has been successfully sent!</div>
								<div class='alert alert-danger form-faq-error hidden'>Ooops! There was an error sending your message.</div>
							</div>
						</div>
						<div class='row'>
							<div class='col-sm-6'>
								<div class='form-group control-group'>
									<input class='form-control' data-rule-required='true' name='firstName' placeholder='First Name' type='text'>
									<!-- / this field is required for simple anti spam function, don't remove it! -->
									<input class='form-control' name='human' placeholder='Are you human?' style='display: none;' type='text'>
								</div>
							</div>
							<div class='col-sm-6'>
								<div class='form-group control-group'>
									<input class='form-control' data-rule-required='true' name='lastName' placeholder='Last Name' type='text'>
								</div>
							</div>
						</div>
						<div class='row'>
							<div class='col-sm-12'>
								<div class='form-group control-group'>
									<input class='form-control' data-rule-email='true' data-rule-required='true' name='email' placeholder='E-Mail' type='email'>
								</div>
							</div>
						</div>
						<div class='row'>
							<div class='col-sm-12'>
								<div class='form-group control-group'>
									<textarea class='form-control' name='message' placeholder='Your message...' rows='10'></textarea>
								</div>
							</div>
						</div>
						<div class='row'>
							<div class='col-sm-12'>
								<button class='btn btn-contrast btn-block form-faq-submit' data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; Sending..." type='submit'>
									Send message
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class='fade' id='scroll-to-top'>
		<i class='fa fa-chevron-up'></i>
	</div>
</div>