<div id='main' role='main'>
  	<div id='main-content'>
  		<div class="main-header">
			<div class="row">
				<div class="page-header-text">
					ABOUT US</br>
					<small class="bread-crumb">
						<a href="/">Home</a> / About Us
					</small>
				</div>
			</div>
		</div>
		<div class='container'>
			<div class='row'>
				<div class='col-md-push-9 col-sm-push-8 col-sm-4 col-md-3 left-col'>
					<nav class='sidebar sidebar-fixed'>
					<button class='btn btn-block btn-contrast sidebar-toggle' data-target='.sidebar-collapse' data-toggle='collapse' type='button'>
						<span class='sr-only'>Toggle navigation</span>
						<span class='icon-bar'></span>
						<span class='icon-bar'></span>
						<span class='icon-bar'></span>
					</button>
					<div class='sidebar-collapse collapse'>
						<div class='box'>
							<h3 class='title'>Info</h3>
							<ul class='list-unstyled list-padded'>
								<li>
									<i class='fa fa-user text-contrast fa fa-fixed-width'></i>
									Anouk Smit
								</li>
								<li>
									<i class='fa fa-phone text-contrast fa fa-fixed-width'></i>
									Tel: <a href="">+27 (0)21 789 2297</a>
								</li>
								<li>
									<i class='fa fa-phone text-contrast fa fa-fixed-width'></i>
									Mobile: <a href="">+27 (0)82 480 9397</a>
								</li>
								<li>
									<i class='fa fa-envelope text-contrast fa fa-fixed-width'></i>
									<a href="mailto:anouk@wiredstrings.co.za">anouk@wiredstrings.co.za</a>
								</li>
							</ul>
						</div>
						<div class='box'>
							<h3 class='title'>Packages</h3>
							<ul class='list-unstyled list-padded'>
								<li>
									<i class='fa fa-check text-contrast fa fa-fixed-width'></i>
									1.5 Hours
								</li>
								<li>
									<i class='fa fa-check text-contrast fa fa-fixed-width'></i>
									2 Hours
								</li>
								<li>
									<i class='fa fa-check text-contrast fa fa-fixed-width'></i>
									3 Hours
								</li>
								<li>
									<i class='fa fa-check text-contrast fa fa-fixed-width'></i>
									Custom
								</li>
							</ul>
						</div>
						<div class='box'><a class="btn btn-contrast btn-bordered btn-block" href="performance-packages">View Packages</a></div>
					</div>
				</nav>
				</div>
				
				<div class='col-md-pull-3 col-sm-pull-4 col-sm-8 col-md-9'>
					<div class='row'>
						<div class='row'>
				<div class='col-sm-12'>
					<div class='page-header page-header-with-icon'>
						<i class='fa fa-info-circle'></i>
						<h2>
							ABOUT US
						</h2>
					</div>
				</div>
			</div>
						<div class='col-sm-12'>
							<div id="about-us-image">
								<img src="images/wired_string_profile.jpg">
							</div>
							<div>
								<p class='dropcap lead lead-xs'>
									<span class="first-letter">O</span>ver the past fifteen years Wired String Quartet have carved out a niche for themselves as sought-after performers of live music at weddings, functions and special events in the Western Cape. Their success has been driven by the quality of their performances, the range of musical styles and repertoire they have at their fingertips and their special energy.</p>
								<p class='lead lead-xs'>
									Wired String Quartet is a family group with the two violin parts being played by siblings Anouk and Vicente, and the viola by Alliz, Vicente’s wife. The cellist Ariella is a longstanding friend who has been playing chamber music with the family for nearly two decades.
								</p>
								<p class='lead lead-xs'>
									Should a member of the quartet be unavailable on the date of your event, Wired will call on one of our highly experienced and talented reserve players who regularly perform with our quartet.
								</p>
								<p class="lead lead-xs">
									Wired’s first violinist and manager is Anouk Smit, a chamber music specialist who has performed all over the world. She followed her violin performance diploma from the University of Stellenbosch with postgraduate violin performance degrees from UCT and the Royal Northern College of Music in England.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='fade' id='scroll-to-top'>
		<i class='fa fa-chevron-up'></i>
	</div>
</div>